/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
    font-family: Raleway, sans-serif;
    background-color: #5f1a1f;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
    background-color: #d1b266;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.regularfont{
	font-family: "Prata", serif;
}

.footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.bgyellow {
	background-color: #D1B266
}

.bgdarkred {
	background-color: #5F1A1F
}

.bgdarkblue {
	background-color: #012F3D
}

.icon {
      width: 100px; /* Adjust the width as needed */
      height: 100px; /* Adjust the height as needed */
      background-image: url('images'); /* Replace 'path_to_your_image.jpg' with the path to your image */
      background-size: cover; /* Adjust the background size as needed */
      background-position: center; /* Adjust the background position as needed */
    }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
color: #d1b266
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
border: 2px solid #D1B266
}

.about-section {
  padding: 50px;
	padding-bottom: 10px;
  text-align: center;
  background-color: #5F1A1F;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #5F1A1F;
}

.button {
  border: 2px solid #D1B266;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #5F1A1F;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #D1B266;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
	
.bgdarkblue{
		background-color: #012F3D
	}
	
header2 {
    background-color: #012F3D;
}

	
.goodtitle{
		color: white
	}	

}
.goodtitle {
}

